* {
  @apply font-Roboto;
}
body {
  /* overflow: hidden; */
}
.swiper-pagination {
  @apply z-50;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  @apply z-40 absolute;
}
.light_text_shadow {
  text-shadow: 5px 5px 25px rgba(12, 140, 232, 0.632),
    -5px 5px 10px rgba(5, 33, 245, 0.273), -2px -2px 25px rgb(22, 121, 219),
    5px 0px 10px rgba(6, 39, 228, 0.221);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.bg-poster {
  background: rgb(5, 3, 69);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.22) 21%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.5) 96%
  );
}

.eye_loader {
  display: inline-flex;
  gap: 10px;
}
.eye_loader:before,
.eye_loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,
  11% {
    background-position: 35% 35%;
  }
  14%,
  36% {
    background-position: 65% 35%;
  }
  38%,
  61% {
    background-position: 65% 65%;
  }
  64%,
  86% {
    background-position: 35% 65%;
  }
  88%,
  100% {
    background-position: 35% 35%;
  }
}
/* HTML: */
.static_loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;

  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%)
    200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
  @apply font-Roboto;
}
.static_loader::before {
  content: "Loading...";
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%)
    200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l3 {
  to {
    background-position: 80% 100%;
  }
}
